@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a:hover{
  text-decoration: none;
}
.test{
  height: 1000px;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: baseline;
}
address,
dl,
fieldset,
figure,
ol,
p,
pre,
ul{
  padding: 0;
  margin:0;
}
h1.uk-heading-medium{
  padding: 10px;
  margin: 10px;
  font-family: 'Monserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}
li {
  list-style-type: none;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  background-color: rgb(0,0,25,0.9);
  min-height: 100vh;
  position: relative;
}
/* Header */
li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 150;
}
/* Logo */
.logo {
  margin-right: auto;
  margin-left: 10px;
  margin-top: 5px;
}
.logo img {
  width:59px;
}
/* Search Bar */
.searchbar-wrap #searchbar {
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: all 0.5s ease 0.2s;
  border-radius: 10px;
  padding-left: 5px;
  margin-right: 5px;
}
#searchbar.expand {
  opacity: 1;
  width: 250px;
  height: 5px;
}
.searchbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
i.fa-search {
  cursor: pointer;
  margin-left: 5px;
}
i.fa-search:hover {
  color: #0088a9
}
/* List Menu */
.nav_links{
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;

}
.nav_links li a:hover {
  color: #0088a9
}
/* Login button */
button {
  margin-left: 20px;
  margin-right: 20px;
  padding: 9px 25px;
  background-color: rgba(0,136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0,136, 169, 0.8);
}
.content-wrap {
  position: relative;
  z-index: 1000;
}
/* Modal Login */
.modal {
  display: none;
  position: fixed;
  z-index: 156;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 60px;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  margin: 5% auto 15% auto;
  border: 1px solid black;
  width: 80%;
  border-radius:15px;
}
.form-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-image-container img{
  padding: 15px;
}
form input[type=text],
form input[type=password],
form input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.form-information {
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;

}
.modal-form-inputs{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}
.modal-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}
.modal-form-checkbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#login-checkbox:hover {
  cursor: pointer;
}
label.rememberme{
  padding: 15px;
}
label.rememberme:hover{
  cursor: pointer;
  text-decoration: underline;
}
.register-click-here:hover {
  cursor: pointer;
  text-decoration: underline;
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
/* User modal */
h1#titulo-user-modal{
color: #edf0f1;
}
div.botones-user-modal{
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
button.logout-button{
  background-color:rgb(172,4,4);
}
button.logout-button:hover{
  background-color:rgba(172,4,4,0.8);
}
/* Animacion Modal */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* Modal Register */
.register-modal {
  display: flex;
  flex-direction: row;
}
.register-modal-button {
  margin-bottom: 15px;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: black;
  position: relative;
  bottom: 0;
}
footer .tmdb-logo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer .tmdb-logo p {
  margin: 7px;
  font-size: 9px;
}
footer .tmdb-logo img {
  width: 40%;
  padding-bottom: 10px;
}
footer p {
  color: #edf0f1;
  font-size: 10px;
}
/* Media Query Mobile */
@media (max-width: 420px) {
  header{
    justify-content: space-around;
  }
  .nav_links {
    position:absolute;
    top:0;
    left: 0;
    background-color: black;
    height: 100vh;
    width: 100%;
    align-content: center;
    z-index: 15;
    justify-content: space-around;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    opacity: 0;
  }
  .nav_links.is-visible{
    transition: all 1s ease 0.3s;
    opacity: 1;
  }
  .nav_links.open{
    clip-path: circle(1200px at 90% -10%);
    -webkit-clip-path: circle(1200px at 90% -10%);
  }
  .nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .line {
    order:0;
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
    margin-left: 20px;
  }
  .hamburger {
    cursor: pointer;
    z-index: 155;
  }
  .hamburger:hover .line{
    background-color: #0088a9;
  }
  .nav_links li {
    opacity: 0;
  }
  .nav_links li a {
    font-size: 25px;
  }
  .nav_links li:nth-child(1){
    transition: all 0.5s ease 0.2s;
  }
  .nav_links li:nth-child(2){
    transition: all 0.5s ease 0.4s;
  }
  .nav_links li:nth-child(3){
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
  input.expand {
    width: 100%;
  }
  .register-modal {
    display: flex;
    flex-direction: column;
  }
  .modal-bottom {
    justify-content: center;
    align-items: center;
  }
  .register-click-here {
    text-align: center;
  }
  footer{
    flex-direction: column;
  }
  footer p {
    margin-top: 7px;
  }
}
/* Media Query Tablets */
@media (min-width: 421px) and (max-width: 800px){
  header{
    justify-content: space-around;
  }
  .nav_links {
    position:absolute;
    top:0;
    left: 0;
    background-color: black;
    height: 100vh;
    width: 100%;
    align-content: center;
    z-index: 15;
    justify-content: space-around;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    opacity: 0;
  }
  .nav_links.is-visible{
    transition: all 1s ease 0.3s;
    opacity: 1;
  }
  .nav_links.open{
    clip-path: circle(1500px at 90% -50%);
    -webkit-clip-path: circle(1500px at 90% -50%);
  }
  .nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .line {
    order:0;
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
    margin-left: 20px;
  }
  .hamburger {
    cursor: pointer;
    z-index: 155;
  }
  .hamburger:hover .line{
    background-color: #0088a9;
  }
  .nav_links li {
    opacity: 0;
  }
  .nav_links li a {
    font-size: 25px;
  }
  .nav_links li:nth-child(1){
    transition: all 0.5s ease 0.2s;
  }
  .nav_links li:nth-child(2){
    transition: all 0.5s ease 0.4s;
  }
  .nav_links li:nth-child(3){
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
  .register-modal {
    display: flex;
    flex-direction: column;
  }
  .modal-bottom {
    justify-content: center;
    align-items: center;
  }
  .register-click-here {
    text-align: center;
  }
  footer{
    flex-direction: column;
  }
  footer p {
    margin-top: 7px;
  }
}
