/* Series Details */
.main-body {
    margin-left: 15px;
}
.serie {
    margin-left: 5px;
}
.series-info-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
    margin-bottom: 20px;
}
.series-info-wrapper img {
    margin-right: 15px;
    max-height: 600px;
}
.series-info{
    display: flex;
    flex-direction: column;
}
.sinopsis-wrapper {
    margin-bottom: 20px;
}
.sinopsis-wrapper p {
    text-align: justify;
}
.uk-progress {
    margin-top: 10px;
}
.trailer-wrapper {
    display: block;
}
