/* Login Modal Fix */
#login-modal {
    z-index: 10000;
}
#register-modal {
    z-index: 10000;
}
#user-modal {
    z-index: 10000;
}
h1 {
    margin-left: 0px;
}

/* Series Details */
.main-body {
    margin-left: 15px;
}
.serie {
    margin-left: 5px;
}
.series-info-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 30px;
    margin-bottom: 20px;
}
.series-info-wrapper img {
    margin-right: 15px;
    max-height: 600px;
}
.series-info{
    display: flex;
    flex-direction: column;
}
.sinopsis-wrapper {
    margin-bottom: 20px;
}
.sinopsis-wrapper p {
    text-align: justify;
}
.uk-progress {
    margin-top: 10px;
}
.trailer-wrapper {
    display: block;
}
iframe {
    width: 640px;
    height: 390px;
}
.reco-button {
    margin-top: 15px;
    margin-bottom: 15px;
}
/* Carrousel */
div.series{
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
}
div.imagenes{
    width: 100%;
}
div.overlay{
    display: none;
    position: absolute;
    flex-direction: column;
    top: 0;
}
div.series:hover{
     transform: scale(1.05);
     z-index: 9;
}
div.series:hover .overlay{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    background-color: rgba(0, 128, 128, 0.756);
    width: 100%;
    height: 100%;
}

/* boton de favs */
.sinopsis-header {
    display: flex;
    justify-content: space-between;
}
.sinopsis-header .addBtn{
    /* margin-top: 0px; */
    position: relative;
}
.heart{
    font-size: 35px;
    cursor: pointer;
}
.heart:hover{
    animation: fav-icon 0.4s ease forwards infinite;
    color: red;
}
/* animacion boton favs */
@keyframes fav-icon{
    0% {
        transform: rotate(0deg)
    }

    33% {
        transform: rotate(15deg)
    }

    66% {
        transform: rotate(-15deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

/* Animacion hover serie */
.series-posters li img:hover {
    width: 100%;
}
/* modal recos */
.titulo-series-recomendadas { 
    display: flex;
    justify-content: center;
}
/* Media Query Mobile */
@media (max-width: 425px) {
    .series-info-wrapper {
        flex-direction: column;
        margin-right: 0px;
    }
    .series-info-wrapper img {
        margin-right: 0px;
    }
    iframe {
        height: 100%;
        width: 100%;
    }
    .main-body {
        margin-right: 15px;
        margin-left: 15px;
    }
    #detalles {
        margin-right: 0px;
    }
    .serie {
        margin-left: 0px;
    }
}


/* Media Query Tablets */
@media (min-width: 426px) and (max-width: 800px){
    .series-info-wrapper {
        flex-direction: column;
    }
    .series-info-wrapper img {
        width: 400px;
    }
    iframe {
        width: 100%;
    }
    .trailer-wrapper {
        margin-right: 15px;
    }
}