/* Trending Series */
.trending-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    margin: 50px 1%;
}
.series-posters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.series-posters li img {
    width: 90%;
    transition: width 0.1s ease-in-out 0.1s;
}
.series-names{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: none;
}

/* Animacion hover serie */
.series-posters li img:hover {
    width: 100%;
}